PORT=3000

# Authentication
JWT_SECRET=your-super-secret-jwt-key

# Database
MONGO_URI=mongodb://admin:16Paradox2006@ac-chlkpz1-shard-00-00.a54grbt.mongodb.net:27017,ac-chlkpz1-shard-00-01.a54grbt.mongodb.net:27017,ac-chlkpz1-shard-00-02.a54grbt.mongodb.net:27017/perfume?ssl=true&replicaSet=atlas-o5kywo-shard-0&authSource=admin&retryWrites=true&w=majority&appName=Cluster0

# Third-party Integrations
GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/AKfycbxGdbjTPfPlBfJRLZtnGdoROPEkQ-1i6C_dT0eTSlxOYAFafzSWfy_mRgfUjDcFlI5G/exec

# Supabase
VITE_SUPABASE_URL=https://ebeaildqrzriozsdwxyh.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_37J62wM37wUXYvKRNZCwYA_DaVXCWWz
